In [1]:
# Q1
## For loop
##The 'for' loop used only when we already knew the number of iterations. For example

lst = [11,22,33,44,55,66,77,88,99]

for i in lst:
    print(i)

11
22
33
44
55
66
77
88
99

In [2]:
#While loop
## The 'while' loop used only when the number of iteration are not exactly known.
i = int(input("Enter a number"))
count = 1
result = 0
while count < i:
    result = result + i
    count += 1
    
result

Enter a number12

132

In [3]:
#Q2
#sum using For Loop
result = 0
for i in range(1,11):
    result += i
result

#product using For Loop
count = 1
for i in range(1,11):
    count*= i
count

3628800

In [4]:
# sum using while loop

result = 0
count = 1
while count <= 10:
    result += count
    count+= 1
result

# product using while loop
count=1
result = 1
while count <= 10:
    result = count * result
    count+=1
result

3628800

In [20]:
#Q3

units = int(input("Enter units consumed in a month: "))
bill = 0
if units <= 100:
    bill = 100 * 4.5
elif units <= 200:
    bill = 100 * 4.5 + ((units - 100) * 6)
elif units<=300:
    bill = (100 * 4.5) + (100 * 6) + ((units -200) * 10)
elif units > 300:
    bill = (100 * 4.5) + (100 * 6) + (100 * 10) + ((units -300) * 20)
    
int(bill)

Enter units consumed in a month: 310

2250

In [4]:
#Q4
#using for loop

lst = []
for i in range(1,101):
    if i**3 % 4==0 or i**3 % 5 == 0:
        lst.append(i)
lst

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [5]:
# using while loop

lst = []
count = 1

while count < 101:
    if count**3% 4==0 or count**3%5 == 0:
        lst.append(count)
    count+=1    
lst

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [12]:
#Q5

string = "I want to become a data scientist"
vowels = ['a','e','i','o','u']
lst = []
for i in string.lower():
    if i in vowels:
        lst.append(i)
print("Vowels in the given string is",len(lst))

Vowels in the given string is 12